@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {


  .description {
      font-size: 1.5em;
  }

  .navbar-brand {
      margin-bottom: 20px;
  }

  .infobox {
    margin-top: 200px;
    margin-left: 60vw;
  }

  .infobox h3{
    font-size: .9em;
  }

  #skillsbox {
    font-size: .7em;
    margin-right: 20%;
  }

  #skills {
    min-height: 600px;
  }

  #formbox {
    padding-top: 5%;
    min-height: 400px;
    margin-right: 20%
  }

  #portfolio {
    min-height: 1700px;
  }

  .portfoliobox {
    padding: 2.5%;
  }

  .img-responsive {
    margin-left: auto;
    margin-right: auto;
  }

  .caption {
    position: absolute;
    width: 40%;
    left: 30%;
  }

  #brand {
    width: 200px;
  }

  .parallax1 {
  width: 100%;
  }

  .portfoliobox {
  margin-left: -10%;
  }

  #contact {
    min-height: 750px;
  }

}

@media only screen
and (min-device-width : 360px)
and (max-device-width : 640px) {

  .navbar-collapse {
    width: 100%;
  }


  .navbar-brand {
    margin-bottom: 5%;
  }

  #brand {
    width: 200px;
  }

  .description {
    font-size: 1.2em;
  }

  .box1 {
    margin: auto;
    width: 80%;
    margin-left: 5%;
    margin-right: 10%;
  }

  #portfolio {
    min-height: 1700px;
  }

  .portfoliobox {
    padding: 5%;
    margin-left: -10%;
  }

  .img-responsive {
    margin-left: auto;
    margin-right: auto;
  }

  .caption {
    position: absolute;
    width: 50%;
    left: 25%;
  }

  button {
    font-size: .9em;
  }

}
